body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url('https://c1.wallpaperflare.com/preview/127/366/443/library-book-bookshelf-read.jpg') no-repeat center center fixed;
  background-size: cover;
  /*background: linear-gradient(to right, #00c6ff, #0072ff);*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}


.login-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 40px;
  width: 500px; /* Fixed width for the form */
  height: 500px;
  align-items: center;
}

img{
  width: 80px;
  height: 80px;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-top: 6rem;
  margin-bottom: 1.5rem;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color:black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color:black;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  color: black;
}


input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #080808;
  border-radius: 4px;
  background-color:rgb(255,255,255,0.7);
  margin-bottom: 1rem;
  resize: none;
  height: 50px;
  color: black;
}

input::placeholder {
  color:black;
  padding-left: 4px;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #0072ff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #005bb5;
}


